*.o
Makefile
Makefile.in
*.a
a.out
.deps
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
decagon/scoreCalc/scoreCalc
depcomp
examples/UsingPeace
examples/generate_d2
examples/standalone_d2
install-sh
missing
src/config.h
src/config.h.in
src/peace
src/stamp-h1
tools/pTools

